<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{layouts/adminLayout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-default">
                    <div class="card-header card-header-border-bottom">
                        <h2>Form</h2>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/edit-genre}" method="post" th:object="${genre}">
                            <div class="form-group">
                                <label for="title">title</label>
                                <input th:field="*{title}" type="text" class="form-control"
                                    placeholder="Enter Title">
                            </div>
                            <div class="form-group">
                                <label for="description">description</label>
                                <input th:field="*{description}" type="text" class="form-control"
                                    placeholder="Enter description">
                            </div>
                            <button type="submit" class="mb-1 btn btn-primary">Add New</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>

</html>