<div class="row">
    <div class="col-md-8">
        <div class="card card-default">
            <div class="card-header card-header-border-bottom">
                <h2>Genres</h2>
            </div>
            <div class="card-body">
                <table class="table table-hover ">
                    <thead>
                        <tr>
                            <th style="width: 30%;" scope="col">Title</th>
                            <th style="width: 30%;"scope="col">Description</th>
                            <th style="width: 20%;"scope="col">Icon</th>
                            <th style="width: 20%;"scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="genre : ${genres}" th:object="${genre}">
                            <td th:text="*{title}" scope="row">Title</td>
                            <td th:text="*{description}">Description</td>
                            <td>
                                <img class="w-50" th:src="*{icon.uuid}" alt="genre icon">
                            </td>
                            <td>
                                <a th:href="@{/genre/edit/{id}(id=*{id})}" type="button" class="mb-1 btn btn-sm btn-primary text-white">
                                    <i class=" mdi mdi-folder-edit"></i></a>
                                <button th:data-id="*{id}" type="button" class="mb-1 btn btn-sm btn-danger btn-delete" data-toggle="modal" data-target="#modalDelete">
                                    <i class=" mdi mdi-close-circle-outline"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>